#map{
    width:500px;
    height:300px
}

.mapContainer{
    width:800px;
    position:relative;
}

.mapContainer a.direction-link{
    position:absolute;
    color:#fff;
    text-decoration:none;
    font-size:15px;
    font-weight: bold;
    line-height:25px;
    padding:8px 20px 8px 50px;
    background:#0094de;
    background-image:url('../image/directionicon.png');
    background-position:left center;
    background-repeat:no-repeat;
}

.mapContainer a.direction-link:hover{
    text-decoration:none;
    background:#0072ab;
    color:#fff;
    background-image:url('../image/directionicon.png');
    background-position:left center;
    background-repeat:no-repeat
}