
.body{
    margin-top:100px
}

.currentimage{
    width:293px;
    height:150px;
}

figure{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background:transparent;
    padding:10px;
}

figcaption{
    margin-top:10px
}


@media screen and (max-width: 768px){
	
	.main-nav{display: none;}
	.ptext{
		margin-top:80px;
	}
	.mobile-icon{
		display: inline-block;
		color:white;
		margin-right: 255px;
		font-size:30px
	}


	.main-nav li{
		display: block
    }
  
    .row{
        width:50px
    }

    .col-sm-3{
        padding:25px;
        margin-left:18px
    }

    figure{
        width:500px;
        height:230px;
        padding:25px
    }

    .currentimage{
        width:150px;
        height:150px;
        margin-left:20px;
        margin-top:15px
    }
    
    figcaption{
        margin-left:250px;
        margin-top:-150px
    }

    
}